# Ignore everything
*

# But do not ignore directories, as ignoring directories can sometimes lead to unexpected behavior in Git
!*/

# Except for files with these extensions
!*.R
!*.Rmd
!*.rmd
!*.ipynb
!*.py
